<?php

$page_type          = 'QAPage'; // https://schema.org/QAPage
$page_title         = '{{ currentCategory.title }} | {{ title }} | 法人向け情報 | Mozilla Japan';
$page_description   = 'Mozilla 製品の法人内での導入などに関して、よく寄せられる質問について回答をまとめました。ライセンス、サポート、リリース状況などについて不明な点があるときは、まずこちらをご覧ください。';
$body_id            = 'tech-faq';
$body_class         = 'users business faq tech';
$css                = array('/business/static/styles/main', 'lib/highlightjs/github.min.css');
$js                 = array('/business/static/scripts/main.js', 'lib/highlightjs/highlight.pack.js');

$breadcrumbs        = array(
  '/business/' => '法人向け情報',
  '/business/faq/' => 'よくある質問',
  '/business/faq/tech/' => '{{ title }}',
  '/business/faq/tech/{{ currentCategory.id }}/' => '{{ currentCategory.title }}'
);

$header_nav = array(
    "法人向け情報" => "/business/",
    "導入事例" => "/business/profiles/",
    "サポート" => "/business/support/",
    "よくある質問" => "/business/faq/"
);

@include_once $_SERVER['DOCUMENT_ROOT'] . '/includes/templates/sandstone/default-header.inc.php';

?>
          <nav class="outer">
            <ul class="inner">
              <li><a href="/business/faq/">一般的な質問</a></li>
              <li><a href="/business/faq/tech/">技術的な質問</a></li>
            </ul>
          </nav>
          <main itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
            <article>
              <div id="masthead" class="outer">
                <div class="inner">
                  <header>
                    <h1>{{ currentCategory.title }}</h1>
                  </header>
                </div>
              </div>
              <div class="outer outer-3">
                <div class="inner">
                  <div id="main-content">
                    {%- for item in currentCategory.items %}
                    <article id="faq{{ loop.index }}">
                      <h2>{{ item.title }}</h2>
                      {{ item.content }}
                    </article>
                    {%- endfor %}
                  </div><!-- end #main-content -->
                  <aside id="sidebar">
                    <nav role="directory">
                      <ul>
                        {%- for item in currentCategory.items %}
                        <li><a href="#faq{{ loop.index }}">{{ item.title }}</a></li>
                        {%- endfor %}
                      </ul>
                    </nav>
                  </aside><!-- end #sidebar -->
                </div>
              </div>
            </article>
          </main>
<?php 

@include_once $_SERVER['DOCUMENT_ROOT'] . '/business/includes/events.inc.php';
@include_once $_SERVER['DOCUMENT_ROOT'] . '/includes/templates/sandstone/default-footer.inc.php';

?>
